/* body font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}
.top-players{
    padding-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}

/* players styles */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;

}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;

}
.top-blogs{


}
.bolgs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;


}
.blog{
    display: flex;

}
.thumbnail{

}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 30px;

}
.blog-title{
    font-size: 20px;

}
.blog-author{
    font-size: 16px;
    color: #9F9F9F;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
}

/* Latest Courses */

.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;

}
.course{
    box-shadow: 5px 5px 5px 5px #888888;
    border-radius: 5px;

}
.course-banner{

}
.course .course-banner img{
    width: 266px;
    height: 141px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.fill{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}

/* Media Querr */
/* mini device */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .players, .bolgs, .courses{
        grid-template-columns: repeat(1,1fr);
    }
    .player, .blog{
        flex-direction: column;

    }
    
}
/* medium device */
@media only screen and (min-width:689px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .players, .bolgs, .courses{
        grid-template-columns: repeat(2,1fr);
    }
    
}