/* body font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    margin: 0 auto;
}
.header{
    background-color: #562EFF;
    width: 1440px;
    padding: 10px;
    display: flex;
}
.logo{
    width: 100px;
    display: flex;
    align-items: center;
    margin-left: 200px;
}
.logo-image img{
    width: 40.42px;
    height: 51px;
}
.text p{
    color: white;
    margin-left: 10px;
}
.navbar{
    display: flex;
    margin-left: 500px;
}

.nav ul li{
    float: left;
    list-style-type: none;
    margin-right: 30px;
}
.nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}
.nav ul li a:hover{
    color: red;
}

.profile-image img{
    width: 51px;
    height: 51px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}
.top-players{
    padding-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}

/* players styles */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;

}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;

}
.bolgs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
    grid-column-gap: 20px;

}
.blog{
    display: flex;

}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 30px;

}
.blog-title{
    font-size: 20px;

}
.blog-author{
    font-size: 16px;
    color: #9F9F9F;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
}

/* Latest Courses */

.courses{
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;

}
.course{
    box-shadow: 5px 5px 5px 5px #888888;
    border-radius: 5px;
    padding: 5px;

}
.course .course-banner img{
    width: 266px;
    height: 141px;
}
.course-author p{
    color: #ED6B4F;
    font-size: 14.6913px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-info div span{
    color: #A2A2A2;
    margin-left: 10px;
}
.course-duration{
    font-family: 'Open Sans', sans-serif;
    font-size: 14.6913px;
    color: #ED6B4F;
    background-color: #e7bbb4;
    border-radius: 20px;
    padding: 2px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.fill{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}

/* Media Querr */
/* mini device */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .players, .bolgs, .courses{
        grid-template-columns: repeat(1,1fr);
    }
    .player, .blog{
        flex-direction: column;

    }
    
}
/* medium device */
@media only screen and (min-width:689px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .players, .bolgs, .courses{
        grid-template-columns: repeat(2,1fr);
    }
    
}